<h2>Redirecting to Payment Gateway...</h2>

<form #formRedirect action="https://api-sandbox.doku.com/Suite/Receive" method="POST">
    <input type="hidden" name="AMOUNT" value="500000.00">
    <input type="hidden" name="BASKET" value="4296777933,500000.00,1,500000.00;">
    <input type="hidden" name="CHAINMERCHANT" value="NA">
    <input type="hidden" name="CURRENCY" value="360">
    <input type="hidden" name="EMAIL" value="cwsid3_pay@mailslurp.net">
    <input type="hidden" name="MALLID" value="6850">
    <input type="hidden" name="MOBILEPHONE" value="6281234567899">
    <input type="hidden" name="NAME" value="Test payment Bea">
    <input type="hidden" name="PAYMENTCHANNEL" value="15">
    <input type="hidden" name="PAYMETHOD" value="POST">
    <input type="hidden" name="PURCHASEAMOUNT" value="500000.00">
    <input type="hidden" name="PURCHASECURRENCY" value="360">
    <input type="hidden" name="REQUESTDATETIME" value="20240802014245">
    <input type="hidden" name="SESSIONID" value="4296777933_tr_cr_20240802022059_15">
    <input type="hidden" name="TRANSIDMERCHANT" value="6850_4296777933_20230429">
    <input type="hidden" name="WORDS" value="0f365b969f7cd3c925cc1531ad4a457b2183538b">
    <input type="hidden" name="responseCode" value="0000">
    <input type="hidden" name="WORDS" value="0f365b969f7cd3c925cc1531ad4a457b2183538b">
    <input type="submit" value="Submit">
</form>